@font-face {
    font-family: 'FiraSans-Regular';
    font-display: fallback;
    src: local('FiraSans-Regular'), url('@/assets/fonts/FiraSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'FiraSans-Medium';
    font-display: fallback;
    src: local('FiraSans-Medium'), url('@/assets/fonts/FiraSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'FiraSans-Light';
    font-display: fallback;
    src: local('FiraSans-Light'), url('@/assets/fonts/FiraSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'FiraSans-Thin';
    font-display: fallback;
    src: local('FiraSans-Thin'), url('@/assets/fonts/FiraSans-Thin.woff') format('woff');
}
@font-face {
    font-family: 'FiraSans-Italic';
    font-display: fallback;
    src: local('FiraSans-Italic'), url('@/assets/fonts/FiraSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'FiraSans-Bold';
    font-display: fallback;
    src: local('FiraSans-Bold'), url('@/assets/fonts/FiraSans-Bold.woff') format('woff');
}